html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    width: 100%;
    height: auto;
}

header{
    max-width: 100%;
    height: fit-content;
    background-color: rgb(0, 7, 71);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleContent{
    max-width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0rem 5rem 0rem;
}

.titleLogo{
    max-width: 250px;
    height: auto;
}

.titleLogoLink{

}

.titleLogoImg{
    max-width: 250px;
    height: auto;
}

.subTitle{
    text-align: center;
    text-transform: uppercase;
    color: whitesmoke;
}

.subTitle h6{
    margin-top: 0;
}

.titlePara{
    color: whitesmoke;
    font-family: monospace;
    font-size: x-large;
    text-align: center;
}

.mainBg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: absolute;
}

.mainBgImg{
    position:relative;
    transform: translateY(20%);
    opacity: 30%;
    width: 150px;
    height: auto;
}

.cyberMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.buyNow{
    width: 90%;
    height: auto;
}

.mainContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main1{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.buttonGrid{
    display: flex;
    text-align: center;
    max-width: 425px;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    margin-left: 1rem;
}

.gridButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border: 1mm ridge goldenrod;
    background: #025bc0;
    margin: 5px;
    color: whitesmoke;
    font-size: 15px;
    font-style: normal;
    font-family: monospace;
}

.gridButton:hover{
    color: goldenrod;
    text-shadow: 1px -1px white;
}

.climateImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wildfireImg{
    width: 500px;
    height: auto;
    margin: 2rem;
    border: 1px solid black;
}

.main2{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mainText{
    display: flex;
    flex-direction: column;
    margin: 3rem;
    justify-content: center;
    align-items: center;
}

.mainHeading{
    text-align: center;
    font-family: monospace;
    font-size: xx-large;
    color: rgb(50, 50, 50);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    text-wrap: wrap;
}

.mainSubHeading{
    text-align: center;
    font-family: monospace;
    font-size: large;
    color: rgb(86, 86, 86);
    margin-top: 0;
    text-transform: uppercase;
}

.mainPara{
    text-align: center;
    font-family: monospace;
    font-size: large;
    color: rgb(86, 86, 86);
    margin: 1.4rem;
    margin-top: 2rem;
}

.mainList{
    font-family: monospace;
    font-size: large;
}

.mainPoint{
    padding: 0.2rem;
}

.cyberPricing{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.cyberSubPricingMain1{
    width: 100%;
    margin-bottom: 0;
}

.cyberMainPricingText{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.cyberPriceTable{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90% !important;
    height: auto;
}

.logoInText{
    width: 100px;
    height: auto;
    position: relative;
    transform: translateY(10px);
}

.FAQs{
    max-width: 70%;
}

.footerContent{
    max-width: 100%;
    height: fit-content;
    background-color: rgb(0, 7, 71);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerUpperContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.footerTitleContent{
    color: whitesmoke;
    font-family: sans-serif;
    font-size: large;
    text-align: center;
}

.footerTitle{
    margin: 0;
}

.footerPara{
    color: whitesmoke;
    font-family: monospace;
    font-size: larger;
    text-align: center;
}

.footerBlueButton{
    
}

.blueButton{
    padding: 0.5rem  1rem  0.5rem  1rem;
    background-color: rgb(79, 79, 255);
    color: whitesmoke;
    font-weight: bold;
    border-color: goldenrod;
}

.footerMidContent{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerLinks{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.footerLink{
    margin: 5px;
    color: whitesmoke;

}

.footerLogo{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footerLogoLink{
    
}

.footerLogoImg{
    max-width: 100px;
    height: auto;
}

.extLinks{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.extLink{
    margin: 5px;
    color: whitesmoke;
}

.footerLowerContent{

}

@media (max-width: 635px) {
    .footerMidContent{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }
    .footerLogo{
        justify-content: center;
        margin-top: 1rem;
    }
    .extLinks{
        justify-content: center;
    }
    .wildfireImg{
        width: 85%;
    }
    .cyberSubMain{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cyberSubMain1{
        width: 90%;
        margin: 0;
    }
    .cyberSubMain2{
        width: 90%;
        margin: 0;
    }
    .mainText{
        margin: 1rem;
    }
    .mainBgImg{
        transform: translateY(30%);
    }
    .FAQs{
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .mainBgImg{
        transform: translateY(60%);
    }
    .FAQs{
        max-width: 90%;
    }
}

@media (max-width: 376px) {
    .mainContent{
        display: flex;
        flex-direction: column;
    }
    .main1{
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
    .main2{
        width: 100%;
        height: auto;
        margin-top: 0;
    }
    .mainText{
        margin: 1rem;
    }
    .buttonGrid{
        margin-left: 0;
    }
    .mainBgImg{
        transform: translateY(75%);
    }
    .FAQs{
        max-width: 90%;
    }
}

.copyright{
    font-size: medium;
    color: whitesmoke;
}
